html,body{
    margin: 0px;
    padding: 0px;
    background-color: #181818;
    
}
/* container principal*/

.center{
    align-items: center;
    display: flex;
    justify-content: center;
}

#pai{
    display: grid;
    border-radius: 10px;
    margin: 100px;
    height: 550px;
    width: 500px;
    background-color:gray;
    
}



/*RESPOSTAS display*/

.result{
    background-color:rgb(182, 152, 152);
    border-radius: 10px;
    text-align: center;
    height: 150px;
    width: 340px;
    
    
    
}



.cadastro{
    text-align: start;
    width: 340px;
    
}


.nomeclatura{
    display: inline-block;
    width: 60px;
}




/*Inputs e interatividade*/

input{
    box-shadow: 2px 2px black;
    border-radius: 5px;
}
input:hover{
    filter: brightness(60%);
    transition: 0.6s;
}


input[type=number]{
    border: none;
    height: 40px;
    width: 200px;
    margin:5px;
}


input[type=text]{
    border: none;
    width: 200px;
    height: 40px;
    margin:5px;
}

input[type=button]{
    border: none;
    background-color: #974646;
    height:30px;
    width: 100px;

}

